body{
	background: #333;
	font-family: arial,sans-serif;
	font-size: 16px;
	color: #fff;
}
header{
	font-size: 2em;
	text-align: center;
	height: 100px;
	line-height: 100px;
}
.container{
	width: 600px;
	height: auto;
	padding: 20px;
	background: #fff;
	margin: 0 auto;
	border-radius: 3px;
	color: #333;
}
.container:after{
	content: "";
	display: block;
	width: 0;
	height: 0;
	clear: both;
}
.container>div{
	padding: 5px 0;
}
.sentence{
	font-size: 1.5em;
}
.author{
	font-size: 1.2em;
	text-align: right;
}
.change{
	padding: 10px 20px;
	float: right;
	border: none;
	background: #333;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
}