body{
	background: #333;
	font-family: arial,sans-serif;
	font-size: 16px;
	color: #fff;
}
header{
	font-size: 2em;
	text-align: center;
	height: 100px;
	line-height: 100px;
}
.main-container{
	width: 600px;
	margin: 0 auto;
}
.main-container>div{
	padding: 10px 0;
}
.user-input input{
	border: none;
	border-radius: 3px;
	padding: 5px;
}
button{
	border: none;
	border-radius: 3px;
	background: #1578ff;
	color: #fff;
	padding: 5px;
	cursor: pointer;
}